.header2

  .edit
    = link_to "HOME", root_path
  .icons
    .icons__icon
      .icons__icon--trash

        = icon('fas', 'fa-trash',  class: "contents__btn--icon")
    .icons__icon
      .icons__icon--cog
        <i class="fas fa-cog"></i>


    .icons__icon
      .icons__icon--plus
        -# <i class="fas fa-plus"></i>

.left-content
  .groups
    .group
      .group__name
        %a グループ:test1
      .group__message
        %a 初めまして
      .group__user-name
        %a nakakouchi

    .group
      .group__name
        %a グループ:test2
      .group__message
        %a テスト、テスト
      .group__user-name
        %a 中河内

    .group
      .group__name
        %a グループ:test1
      .group__message
        %a はじめました
      .group__user-name
        %a Rubyの父

.right-content
  .messages
    .message
      .message__text
        %a 最近暑い
        -# アイスは火曜日に新商品が出るらしい
        -# バルミューダの扇風機高いね。
      .message__user-name
        %a komatta
      .message__date
        %a 2018/08/01 11:50

    .message
      .message__text
        %a 難しい
        -# アイスは火曜日に新商品が出るらしい
        -# バルミューダの扇風機高いね。
      .message__user-name
        %a komatta
      .message__date
        %a 2018/08/01 11:50

    .message
      .message__text
        %a 最近暑い
        -# アイスは火曜日に新商品が出るらしい
        -# バルミューダの扇風機高いね。
      .message__user-name
        %a komatta
      .message__date
        %a 2018/08/01 11:50

    .message
      .message__text
        %a 最近暑い
        -# アイスは火曜日に新商品が出るらしい
        -# バルミューダの扇風機高いね。
      .message__user-name
        %a komatta
      .message__date
        %a 2018/08/01 11:50

    .message
      .message__text
        %a 最近暑い
        -# アイスは火曜日に新商品が出るらしい
        -# バルミューダの扇風機高いね。
      .message__user-name
        %a komatta
      .message__date
        %a 2018/08/01 11:50

  .posts
    .posts__text-field
      <button type="submit" class="posts__submit">POST</button>
  </div>
</div>